<h1>Dashboard#index</h1>
<h3> Completed Projects: <%= projects.count %> </h3>
<h3> Revenue Generated : <%= revenue %> Berycoins </h3>
<h3> Comments posted   : <%= comments.count %> </h3>

<p><%= link_to 'Home', root_path, {class: "btn btn-primary"} %> <== Go Home </p>
<p><%= link_to 'Visitors', visitors_index_path , {class: "btn btn-success"}%> <== Go Visitors </p>
<p><%= link_to 'Projects', projects_path , {class: "btn btn-warning"}%> <== Go Projects </p>
<p><%= link_to 'Votes', votes_path , {class: "btn btn-default"}%> <== Go Votes </p>
<p><%= link_to 'Comments', comments_path , {class: "btn btn-danger"}%> <== Go Comments </p>
<p><%= link_to 'Wallets', wallets_path  , {class: "btn btn-success"}%> <== Go Wallets </p>
<p><%= link_to 'Categories', categories_path, {class: "btn btn-primary"}%> <== Go Categories </p>
<p><%= link_to 'Contacts', contacts_path  , {class: "btn btn-info"}%> <== Go Contacts </p>
<p><%= link_to 'Addresses', addresses_path, {class: "btn btn-warning"} %> <== Go Addresses </p>
<p><%= link_to 'Profiles', profiles_path , {class: "btn btn-primary"}%> <== Go Profiles </p>
<p><%= link_to 'Roles', roles_path , {class: "btn btn-success"} %> <== Go Roles </p>
<p><%= link_to 'Ranks', ranks_path  , {class: "btn btn-info"}%> <== Go Ranks </p>
<p><%= link_to 'Skills', skills_path , {class: "btn btn-warning"}%> <== Go Skills </p>
<p><%= link_to 'Users', users_path , {class: "btn btn-danger"}%> <== Go Users </p>
<p><%= link_to 'Reactions', reactions_path , {class: "btn btn-info"}%> <== Go Reactions </p>
<p><%= link_to 'Statuses', statuses_path , {class: "btn btn-primary"}%> <== Go Status </p>
