<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">All Records</h5>
          <h2 class="card-title">Projects</h2>
        </div>
        <div class="card-body">
          <p id="notice"><%= notice %></p>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Project content</th>
                <th>Project skills</th>
                <th>Project budget</th>
                <th>Project Comments</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td><%= project.name %></td>
                    <% if project.statuses.first == nil%>
                    <td><span class="btn btn-default">New</span></td>
                    <% else %>
                    <td><span class="btn btn-info"><%= project.statuses.first.name %></span></td>
                    <% end %>
                  <td><%= project.project_content %></td>
                  <td><%= project.project_skills %></td>
                  <td><%= project.project_budget %></td>
                  <td><%= project.comments.count %></td>
                  <td><%= link_to 'Show', project %></td>
                  <td><%= link_to 'Edit', edit_project_path(project) %></td>
                  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Project', new_project_path %>
        </div>
      </div>
    </div>
  </div>
</div>